<html>
    <body>
        <div>
            <p>ようこそTODOへ</p>
            <hr />
            <table>
                <thead>
                    <tr>
                        <th>タスク名</th>
                        <th>期限</th>
                        <th>状態</th>
                        <th>編集</th>
                    </tr>
                </thead>
                <tbody>
                {% set status_list = { 0:"未", 1:"中", 2:"済" } %}
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.limitDate|date('Y年m月d日') }}</td>
                        <td>{{ status_list[task.status] }}</td>
                        <td><a href="{{ path("app_editpage_index", {"id": task.id} ) }}">編集</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>